.calender {
    grid-area: calender;
    line-height: 10px;
    
    .calender-header{
        font-size: 1.3rem;
        font-weight: bold;
        color: rgb(77, 80, 85);
    }

    .calender-api{
        line-height: 30px;

        .calender-date{
            color: rgba(77, 80, 85, 0.6);
        }

        .calender-body{

        }
    }
}