.time-hide{
    display: none;
}
.time-visible{
    display: block;
}

.time{
    padding-right: 5px;
    .time-date{
        padding-left: 17px;
        padding-top: 70px;
    }

    .time-body{
        padding-right: 30px;
        height: 560px;

        overflow: auto;

        display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            color: #4d5055;
            
        .time-hours{
            margin: 0 auto;
            margin-top: 5px;
            padding: 0px 90px;
            border: 1px solid #60c2fa;
            border-radius: 5px;
            color: #1fadff;
            font-weight: bold;
            cursor: pointer;
        }
    }
}