body {
    font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfcfd;
}
.App{
    margin-top: 50px;
    text-align: center;
}

.appointment-container{
    text-align: left;
    display: inline-block;
    height: 681px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
    border-radius: 8px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
}

.appointment-grid3{
	display: grid;
	grid-template-columns: 3fr 3fr 2fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"review calender time";
}

.appointment-grid2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"review calender";
}

.appointment-grid-details{
	display: grid;
	grid-template-columns: 3fr 3.5fr 1.5fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"review details";
}

.visible{
    display: block;
}

.invisible{
    display: none;
}
